[Desktop Entry]
Version=1.0
Type=Application
Name=Browser
Name[zh_CN]=浏览器
Comment=Open Chromium
Comment[zh_CN]=打开 Chromium 浏览器
Exec=chromium-browser
Icon=chromium
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
